resources/schema/queryBonusByIssue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header" />
				<xs:element ref="body" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="header" />
	<xs:element name="body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="query" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="query">
		<xs:complexType>
			<xs:attribute name="lotteryId" type="xs:string" use="required" />
			<xs:attribute name="issue" type="xs:string" use="required" />
			<xs:attribute name="page" type="xs:string" use="required" />
			<xs:attribute name="pageSize" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>
