web/WEB-INF/classes/schema/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header" />
				<xs:element ref="body" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="header" />
	<xs:element name="body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ticket" maxOccurs="unbounded" />
			</xs:sequence>

			<xs:attribute name="lotteryId" type="notnull" use="required" />
			<xs:attribute name="issue" type="notnull" use="required" />
			<xs:attribute name="playId" type="notnull" use="required" />
			<xs:attribute name="userInfo" type="notnull" use="required" />
			<xs:attribute name="orderId" type="id" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:element name="ticket">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ticketId" type="id" use="required" />
					<xs:attribute name="item" type="xs:integer" use="required" />
					<xs:attribute name="multiple" type="xs:integer" use="required" />
					<xs:attribute name="amount" type="xs:decimal" use="required" />
					<xs:attribute name="pollId" type="notnull" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>



	<xs:simpleType name="id">
		<xs:restriction base="xs:string">
			<xs:pattern value="([a-zA-Z0-9])*" />
			<xs:minLength value="1" />
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="notnull">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
